input[type="button"],button{color:#6c757d;background-color:transparent;border:1px solid #6c757d;padding:.375rem .75rem;height:auto;height:auto}
.ysck_ck{background-color:#fff;border:1px solid rgba(0,0,0,.125)}
.ysck_ck .ysck_bt{background-color:#f7f7f7;border: none}
.cdq div{float:none;border:none;margin:3px}
#ysmenu1{margin-top:100px;border:none!important}
.lynrc{margin-top:100px;height:auto!important;border:none}
#menuList li{padding:10px!important}
#dzx{border:none!important}
#nr{border:none!important}
#xm{border: none;}
#nr {background:url(https://img.picui.cn/free/2025/04/07/67f3b9f46b73c.jpg) center center no-repeat #f5f5f5;}
*{!important;font-size:10.40pt;font-weight:bold;}